// HEADER STYLING BEGINS

header {
    background-image: url(/assets/contact-header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 50vh;
}

span.contact-text {
    text-transform: uppercase;
    color: $white;
    font-size: 4rem;
}

.contact-page {
    position: relative;
}

.contact-top {
    position: absolute;
    top: 20%;
    left: 8%;
    width: 50%;
    padding-top: 5%;
}


// FORM STYLING BEGINS

.contact-page2 {
    
    background: $lightblue;
}
.contact-bottom {
    position: relative;
    // background-color: $lightblue;
}

.contact-form2 {
    background-color: $blue;
    width: 60%;
    margin-left: 35%;
    margin-top: 10%;
    padding: 2%;
    padding-bottom: 0;
    position: relative;
    bottom: 250px;
    box-shadow: 35px 35px 1px -15px $yellow;

        .name, 
        .email {
            font-family: $secondfont;
            background: $blue;
            color: $white;
            margin-left: 5%;
        }

        .email {
            margin-left: -1%;
        }

        textarea {
            font-family: $secondfont;
            background: $blue;
            color: $white;
            padding: 5% 5%;
            margin-left: 5%;
        }

        .submit {
            margin: 5% 5% 5% 5%;
            width: 85%;
            background-color: $yellow;
            color: $blue;
        }
}

.email2 {
    margin: 5% 0;
    color: $black;
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-family: $secondfont;
}

// .email2:hover {
//     color: $yellow;
//     transition: color 2s ease;
// }

// ICONS STYLING BEGINS

.icons-contact i {
    color: $blue;
    transition: color 1s ease-out, border-bottom 1s ease-out;
}

.icons-contact i:hover,
.submit:hover {
    color: $yellow;
    transition: color 1s ease-in, border-bottom 1s ease-in;
}

.email2 {
    color: $black;
    font: 1rem;
}

.bottom-text {
    position: absolute;
    top: 10%;
    width: 30%;
    margin-left: 10%;
    color: $black;
    font-size: 1.3rem;
    font-family: $secondfont;
}

.icons-contact ul {
    display: flex;
    justify-content: space-between;
    width: 37%;
}

// MEDIA QUERIES BEGIN

    @media (max-width: 1200px) {

                // CONTACT TOP SECTION
                
                span.contact-text  {
                    font-size: 2rem;
                    line-height: 62px;
                }

                .contact-top {
                    width: 30%;
                    padding: 0;
                }

                // FORM SECTION

                .contact-form {
                    width: 50%;
                    margin-left: 45%;
                    form {
                        margin-left: 5%;
                    }
                }
                
                .contact-form {
                .name, .email {
                    width: 42%;
                    }
                }
            }

